.header{
    border-bottom: 1px solid #ECECEC;
    margin-left: auto;
    margin-right: auto;

    @media screen and (min-width:480px) {
        height: 60px;
    }
    
    @media screen and (min-width: 768px) {
        height: 80px;
    
    }
    @media screen and (min-width: 1200px) {
        max-width: 1600px;
    }

    &-contacts{
        @media screen and (min-width: 768px) {
        display: block;
           padding-bottom: 10px; ;
        }
        @media screen and (min-width: 1200px) {
            display: flex;
            column-gap: 30px;
            margin-left: auto;
            align-items: center;
            padding: 0;
          }
        }

      &-contact{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        text-decoration: none;
        color: var(--secondary-text-color);
      }
}  
.navigation{
    

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: center;
        column-gap: 86px;
    }
    @media screen and (min-width: 1200px) {
 
        column-gap: 93px;
    }

  
    &_list{
      margin: 0;
      display: flex;
      align-items: center;
      column-gap: 50px;
      width: 282px;
    }
    &_item{
      font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: 0.02em;
    text-decoration: none;
    color: #212121;
    }
    
  
      &-current {
        color:  #212121;
        text-decoration: none;
      
        &:hover, 
        &:focus{
          color: #2196F3;
          transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
        } 
      
        &{
            @media screen and (min-width: 768px) {
                display: block;
                padding: 21px 0;
            }
            @media screen and (min-width: 1200px) {

                padding: 32px 0;
            }  

        }
        &.active{
          position: relative;
        }
        &.action{
          position: relative;
        }
        }
    }
  
    .contakt-current{
        @media screen and (min-width: 768px) {
            color: #757575;
            text-decoration: none;
            padding: 21px 0;
           
        }
        @media screen and (min-width: 1200px) {
            padding: 32px 0;
        }  
    
      &:hover, 
      &:focus{
        color: #2196F3;
        transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      &:hover svg, 
      &:focus svg{
        fill:#2196F3;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
      }
      } 
      .header-item{
        @media screen and (min-width: 768px) {
           padding-top: 10px;
      }
    }
.flex-container{
   
    @media screen and (min-width:480px) {
        height: 60px;
    }
    
    @media screen and (min-width: 768px) {
        height: 80px;
    }
    @media screen and (min-width: 1200px) {
        height: 80px;
    }
   
}
.about{
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width:480px) {
       padding-top: 60px;
    }
   
    @media screen and (min-width: 1200px) {
        padding-top: 93px;
        padding-left: 0px;
        width: 1600px;
    }

    &-wrapper .container{
      @media screen and (min-width:480px) {
        width: 450px;
        height: 76px;
      }
    @media screen and (min-width: 768px) {
        width: 354px;
        height: 76px;
    }
    @media screen and (min-width: 1200px) {
        width: 270px;
        height: 98px;
    }
    }

    &-item{
        @media screen and (max-width:480px) {
            padding-bottom: 30px;
            
            }

      & .container{
        padding-bottom: 10px;
        @media screen and (min-width:480px) {
            width: 450px;
            height: 994px;}
        @media screen and (min-width: 768px) {
            width: 738px;
            height: 480px;
        }
        @media screen and (min-width: 1200px) {
            width: 1170px;
            height: 98px;
        }
        }
    }
    &-list{
        @media screen and (min-width:480px) {
        padding-bottom: 30px;

        }
        
        @media screen and (min-width: 768px) {
            display: flex;
            padding-bottom: 60px;
            column-gap: 30px;
        }
        @media screen and (min-width: 1200px) {
        padding-bottom: 94px;
        
        }

     }
    &-title{
      padding-bottom:50px ;
      text-align: center;
     }
     &-title {
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 700;
      font-size: 36px;
      line-height: 42px;
      letter-spacing: 0.03em;
        color:  var(--primary-text-color);
      }
      &-description{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
        letter-spacing: 0.03em;
        color: #757575;
      }
      &-item-title{
        font-family: 'Roboto', sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        line-height: 16px;
        letter-spacing: 0.03em;
        color: #212121;
        padding-bottom: 10px;

        @media screen and (max-width:480px){
     
            text-align: center;
        }
      }
    }
    .about-item-item{
      position: relative;
       }
    .conteiner-wrapper .container{
        @media screen and (min-width:480px) {
           height: 76px;
           width: 450px;
            }
            
            @media screen and (min-width: 768px) {
               width: 270px;
                min-height: 74px;
                max-height: 76px;
                
            }
            @media screen and (min-width: 1200px) {
                min-height: 70px;
                max-height: 98px;
            }
    }
    .icon-group{
     background-color:#F5F4FA;
      margin-bottom: 30px;
      border-radius: 4px;
      align-items: center;
      justify-content: center;

      @media screen and (min-width:480px) {
    
        width: 100%;
        }
        
        @media screen and (min-width: 768px) {

            display: flex;
   
        }
        @media screen and (min-width: 1200px) {
            width: 270px;
            height: 120px;
        }


    }
    .desc-wrapper .container{
      width: 1170px;
      height: 386px;
      padding-bottom: 94px;
    }
      .text{
        font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    width: 370px;
    height: 70px;
    background: rgba(47, 48, 58, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    bottom: 0px;
}

.comand{
    background-color: #F5F4FA;
    padding: 0;
    margin: auto;
        @media screen and (min-width:480px) {
        width: 480px;
        height: 2761px;
        }
        
        @media screen and (min-width: 768px) {
        width: 768px;
        height: 1285px;
        }
        @media screen and (min-width: 1200px) {
            max-width: 1600px;
            height: 708px;
        }

    &-container{

            @media screen and (min-width:480px) {
            padding-bottom: 60px;
            }
            
            @media screen and (min-width: 1200px) {
                width: 1170px;
                height: 428px;
                padding-bottom: 94px;
            }

    }
   &-title{
       text-align: center;
        @media screen and (min-width:480px) {
            padding-top: 60px;
            padding-bottom: 30px;
        }

        @media screen and (min-width: 1200px) {
            padding-top: 94px;
            padding-bottom: 50px;
        
        }



   }
   &-title{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    letter-spacing: 0.03em;
      color:  var(--primary-text-color);
   }
   &-list{
    display: flex;
    column-gap: 30px;
   }
   &-item{
    width: 270px;
    height: 428px;
    border-radius: 0px 0px 4px 4px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    background-color: #fff;
    &-title{
      padding-bottom: 10px;
      font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
     }
     &-text{
      font-family: 'Roboto', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 19px;
      letter-spacing: 0.03em;
      color: #757575;
      padding-bottom: 16px;
    }
   }
   &-social{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 10px;

    &-item{
      display: flex;
      align-items: center;
      justify-content: center;
      column-gap: 10px;
      width: 44px;
      height: 44px;
      
    }
  }
  }
  .container-item{
    padding-top: 30px;
    text-align: center;
   }
  .svg-social{
    width: 20px;
  }
  .social-link{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: #fff;
    align-items: center;
    justify-content: center;
    display: flex;
    fill: #757575;

    &:hover, 
  &:focus{
    color: #fff;
    background-color: #2196F3;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  &:hover svg, 
  &:focus svg{
    fill: #fff;
    background-color: #2196F3;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  }